:root {
    /*--ls-font-family: "JetBrains Mono"; */

    --tri-comp-green: #A3BE8C;
    --tri-comp-blue: #8CA3BE;
    --tri-comp-purple: #BE8CA3;
    --dark-00: #1C2126;
    --dark-01: #22272E;
    --dark-02: #272E35;
    --dark-03: #2D343D;
    --light-00: #EBECED;
    --light-01: #D7D9DB;
    --light-02: #C3C6C9;
    --light-03: #AFB3B7;
}

.dark-theme, html[data-theme=dark] {
    --ls-primary-background-color: var(--dark-00);
    --ls-secondary-background-color: var(--dark-01);
    --ls-tertiary-background-color: var(--dark-02);
	--ls-quaternary-background-color: var(--dark-03);

    /* this is for both [[links]] and #tags */
    --ls-link-text-color: var(--tri-comp-blue);

    --ls-block-highlight-color: var(--ls-secondary-background-color);
    --ls-block-properties-background-color: var(--ls-tertiary-background-color);

    --ls-block-bullet-border-color: var(--ls-quaternary-background-color);
    --ls-block-bullet-color: var(--tri-comp-green);

    --ls-scrollbar-color: var(--ls-quaternary-background-color);
    --ls-scrollbar-foreground-color: var(--ls-quaternary-background-color);
    --ls-scrollbar-thumb-hover-color: var(--ls-quaternary-background-color);

    --ls-search-icon-color: var(--tri-comp-purple);
    --ls-search-background-color: var(--ls-primary-background-color);

    --ls-selection-background-color: var(--dark-03);
    --ls-selection-text-color: var(--ls-primary-text-color);

    --ls-page-inline-code-color: var(--tri-comp-purple);
	--ls-page-inline-code-bg-color: var(--ls-secondary-background-color);
    --ls-page-checkbox-color: var(--ls-quaternary-background-color);
    --ls-page-mark-color: var(--ls-primary-background-color);
    --ls-page-mark-bg-color: var(--tri-comp-purple);
    --ls-page-properties-background-color: var(--ls-secondary-background-color);
    
    --ls-primary-text-color: var(--light-00);
    --ls-secondary-text-color: var(--light-01);

    --ls-title-text-color: var(--tri-comp-green);
    --ls-head-text-color: var(--tri-comp-green);
    --ls-guideline-color: var(--dark-01);
    --ls-icon-color: var(--ls-secondary-background-color);
    --ls-border-color: var(--ls-quaternary-background-color);
    --ls-menu-hover-color: var(--ls-secondary-background-color);
    --ls-table-tr-even-background-color: var(--ls-secondary-background-color);

    --color-level-4: #708298;
    --color-level-5: #8A9CB2;
    --color-level-6: #A3B5CB;
}

/* Force Selected Sidebar Item Style */
.left-sidebar-inner a.item.active {
    background-color: var(--tri-comp-green);
    color: var(--ls-secondary-background-color);
}

/* Hashtag Styling */
a.tag {
    /*background-color: var(--ls-secondary-background-color);*/
    border-radius: 30px;
    padding: 0px 4px 0px 4px;
    color: var(--ls-link-text-color);
}

.cp__all_pages_table td>span {
    color: var(--ls-primary-text-color);
}

.ui__button {
    background-color: var(--tri-comp-green);
    color: var(--ls-secondary-background-color);
}

/* Highlight and bold current day in the date picker: */
.datepicker td.active, .datepicker td.active:hover {
    color: var(--tri-comp-purple);
    font-weight: bold;
}

/* Wrap the content inside code blocks */
pre, code {
  white-space : pre-wrap !important;
}
