:root {
  /*--ls-font-family: "JetBrains Mono"; */
  /* Nord by arcticicestudio */
  --polar-night-00: #2E3440;
  --polar-night-01: #3B4252;
  --polar-night-02: #434C5E;
  --polar-night-03: #4C566A;
  --snow-storm-00: #D8DEE9;
  --snow-storm-01: #E5E9F0;
  --snow-storm-02: #ECEFF4;
  --frost-00: #8FBCBB;
  --frost-01: #88C0D0;
  --frost-02: #81A1C1;
  --frost-03: #5E81AC;
  --aurora-red: #BF616A;
  --aurora-orange: #D08770;
  --aurora-yellow: #EBCB8B;
  --aurora-green: #A3BE8C;
  --aurora-purple: #B48EAD;
  --button-blue: var(--frost-01);
  --button-gray-1: var(--snow-storm-01);
  --button-gray-2: var(--snow-storm-02);
  --button-gray-3: var(--frost-00);
}

.dark-theme, html[data-theme=dark] {
    --ls-primary-background-color: var(--polar-night-00);
    --ls-secondary-background-color: var(--polar-night-01);
    --ls-tertiary-background-color: var(--polar-night-02);
	--ls-quaternary-background-color: var(--polar-night-03);

    --ls-link-text-color: var(--frost-02);
    --ls-link-text-hover-color: var(--frost-01);
    --ls-link-ref-text-color: var(--ls-link-text-color);

    --ls-page-inline-code-color: var(--aurora-green);
	--ls-page-inline-code-bg-color: var(--ls-tertiary-background-color);

    --ls-block-properties-background-color: var(--ls-secondary-background-color);
    --ls-block-highlight-color: var(--polar-night-02);
    --ls-block-bullet-border-color: var(--polar-night-02);
    --ls-block-bullet-color: var(--aurora-green);

    --ls-page-checkbox-color: var(--polar-night-03);

    --ls-scrollbar-color: var(--polar-night-03);
    --ls-scrollbar-foreground-color: var(--polar-night-03);
    --ls-scrollbar-thumb-hover-color: var(--polar-night-03);

    --ls-search-icon-color: var(--ls-link-text-color);
    --ls-search-background-color: var(--ls-primary-background-color);

    --ls-selection-background-color: var(--frost-02);
    --ls-selection-text-color: var(--ls-primary-text-color);

    --ls-page-mark-color: var(--ls-primary-background-color);
    --ls-page-mark-bg-color: var(--aurora-yellow);
    --ls-page-properties-background-color: var(--ls-secondary-background-color);

    --ls-title-text-color: var(--aurora-green);
    --ls-head-text-color: var(--ls-link-text-color);
    --ls-primary-text-color: var(--snow-storm-00);
    --ls-secondary-text-color: var(--snow-storm-01);

    --ls-guideline-color: var(--polar-night-01);
    --ls-icon-color: var(--snow-storm-01);
    --ls-border-color: var(--polar-night-03);
    --ls-menu-hover-color: var(--ls-secondary-background-color);

    --ls-table-tr-even-background-color: var(--ls-secondary-background-color);

    --color-level-4: var(--frost-03);
    --color-level-5: var(--frost-02);
    --color-level-6: var(--frost-01);
}

/* Force Selected Sidebar Item Style */
.left-sidebar-inner a.item.active {
    background-color: var(--aurora-green);
    color: var(--ls-secondary-background-color);
}

/* Hashtag Styling */
a.tag {
    background-color: var(--ls-tertiary-background-color);
    border-radius: 30px;
    padding: 0px 4px 0px 4px;
    color: var(--ls-link-text-color);
}

.cp__all_pages_table td>span {
    color: var(--ls-primary-text-color);
}

.ui__button {
    background-color: var(--aurora-green);
    color: var(--ls-secondary-background-color);
}

/* Wrap the content inside code blocks */
pre, code {
  white-space : pre-wrap !important;
}
